<section>
    <div class="confirmationListItem">
        <img src="../assets/images/image-waffle-desktop.jpg" alt="image of waffles">
        <div class="confirmationListItemContent">
            <label class="confirmationListItemContentName">Classic Tiramisu</label>
            <div class="confirmationListItemContentQuantity">
                <label class="confirmationListItemContentQuantityAmount">1x</label>
                <label class="confirmationListItemContentQuantityPrice"><sub>@</sub> $<span class="price">5.50</span></label>
            </div>
        </div>
        <label class="confirmationListItemContentQuantitySum">$5.50</label>
    </div>
    <hr class="confirmationListItemHr">
</section>