.category {
    color: hsl(12, 20%, 44%);
    display: block;
    font-size: 14px;
    margin-top: 40px;
}

.dessertContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.dessertsGridItemComponentContainer {
    display: grid;
    justify-content: center;
    text-align: center;
}

.priceBox {
    color: hsl(14, 86%, 42%);
    font-weight: bold;
}